.columnOne {
  justify-self: start;
}

.columnTwo {
  justify-self: end;
}

.header, .subheader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 6vh;
  align-items: center;
  padding: 0px 2vw;
}

.header {
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.subheader {
  // min-height: 6vh;
  background-color: #f7f7f7;
}

.navLink {
  text-decoration: none;
  font-size: 13px;
  color: black;
  margin-left: 3vw;
}

.navLink:hover {
  color: lightgray;
  transition-duration: .5s;
}

.navLink:not(:hover) {
  color: black;
  transition-duration: .5s;
}

// MAIN HEADER ONLY

.wordmark {
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.wordmark > .amir {
  color: lightgray;
}

.wordmark > .sharapov {
  color: black;
}