.columnOne {
  justify-self: start;
}

.columnTwo {
  justify-self: end;
}

.header, .subheader {
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 7vh;
  align-items: center;
  padding: 0px 2vw;
}

.header {
  min-height: 8vh;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.subheader {
  min-height: 6vh;
  background-color: black;
}

.navLink {
  text-decoration: none;
  font-size: 14px;
  color: black;
}

.navLink:hover {
  color: lightgray;
  transition-duration: .5s;
}

.navLink:not(:hover) {
  color: black;
  transition-duration: .5s;
}

.navLink:focus {
  outline: none;
}

.columnTwo > .navLink {
  margin-left: 3vw;
}

.header > .columnTwo > .navLink {
  font-size: 16px;
  font-weight: 300;
}

.subheader > .columnOne > .navLink,
.subheader > .columnTwo > .navLink
{
  font-size: 14px;
  color: lightgray;
}

.wordmark {
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  color: black;
}

.wordmark > .amir {
  color: black;
}

.wordmark > .sharapov {
  color: black;
}