.textInput,
.selectInput,
.textAreaInput {
  border-width: 0px;
  border-bottom: 1px solid #eee;
  width: 100%;
  font-size: 15px;
  padding: 5px 0px;
  font-family: inherit;
}

.textInput:focus,
.selectInput:focus,
.textAreaInput:focus {
  outline: none;
}

.selectInput {
  padding: 4px 0px;
}

.textAreaInput {
  resize: vertical;
  overflow: hidden;
  height: fit-content;
}