.main {
  padding: 12vh 2vw;
  display: grid;
}

.headerHeight {
  min-height: calc(92vh - 24vh - 2px);
}

.subheaderHeight {
  min-height: calc(86vh - 24vh - 2px);
}

.contained {
  max-width: 600px;
}

.fullwidth {
  max-width: calc(100% - 5px);
}