.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 28px;
}

.memberInfo {
  justify-self: start;
}

.memberActions {
  justify-self: end;
}

.memberActions > span {
  margin-left: 5px;
}

.deleteIcon,
.editIcon {
  font-size: 18px;
}

.deleteIcon:hover,
.editIcon:hover {
  cursor: pointer;
}

.deleteIcon:hover {
  color: red;
}