.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 28px;
  font-weight: 300;
}

.memberInfo {
  justify-self: start;
}

.memberActions {
  justify-self: end;
}

.memberActions > span {
  margin-left: 5px;
}

.deleteIcon,
.editIcon {
  font-size: 18px;
  color: #bbb;
}

.deleteIcon:hover,
.editIcon:hover
{
  cursor: pointer;
  color: black;
  transition-duration: .33s;
}
.deleteIcon:not(:hover)
.editIcon:not(:hover)
{
  color: #bbb;
  transition-duration: .33s;
}
